.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
android/.gradle/
ios/Pods/
*.iml
.metadata

# IDE
.idea/

# Platform ephemeral
windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
