.git
.github
**/node_modules
**/vendor
backend/storage/logs/*
!backend/storage/logs/.gitignore
backend/storage/framework/cache/data/*
!backend/storage/framework/cache/data/.gitignore
backend/storage/framework/sessions/*
!backend/storage/framework/sessions/.gitignore
backend/storage/framework/views/*
!backend/storage/framework/views/.gitignore
backend/.env
backend/.env.*
**/*.pem
**/*.key
**/id_rsa
**/auth.json
frontend/dist
*-output.txt
docker-ps-out.txt
